<h2 class="text-center">Appointment Details</h2>

<% if @patients.blank? %>
  <h1>No Appointed Patient found</h1>
<% else %>
  <div class="container-md">
    <table class="table table-bordered justify-content-center table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Apt Id</th>
        <th scope="col">patient Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Visit Patient</th>
        <th scope="col">Appointment Status</th>
      </tr>
      </thead>

      <tbody>
      <% @patients.each do |patient| %>
        <% patient.appointments.each do |appointment| %>
          <tr>
            <th scope="row"><%= appointment.id %></th>
            <th scope="row"><%= patient.id %></th>
            <td><%= patient.name %></td>
            <td><%= patient.age %></td>
            <td><%= patient.email %></td>
            <td><%= appointment.appointment_date %></td>
            <td><%= link_to "visit Patient", new_appointment_visit_path(appointment.id) %></td>
            <td><%= appointment.visit ? "Visited Patient" : "Not Visited" %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>