<%= render 'doctors/navbar' %>

<br>
<br>
<br>
<h2 class="text-center">Appointment Details</h2>


  <%if @patients.blank? %>
    <h1>No Appointed Patient found</h1>
  <%else %>
  <div class="container-md">
    <table class="table table-bordered justify-content-center table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Date and Time</th>
      </tr>
      </thead>



      <tbody>


      <% @patients.each_with_index  do |patient,index| %>
        <tr>
          <% patient.appointments.each do |appointment| %>


            <th scope="row"><%= "#{index+1}"%></th>
            <td><%=patient.name %></td>
            <td><%=patient.age %></td>
            <td><%=patient.email %></td>
            <td><%=appointment.appointment_date %></td>

            </tr>
          <% end %>
      <% end %>

      </tbody>

    </table>
  </div>

 <%end %>
</ul>



