<h1 class="text-center">Patients List</h1>

<div class="container-md">
  <%= form_with(url: doctor_patients_path, method: 'get') do |form| %>
    <%= form.text_field :query, placeholder: "Search by Name" %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<% if @patients.blank? %>
  <h1>No Patient found</h1>
<% else %>
  <div class="container-md">
    <table class="table table-bordered justify-content-center table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">View Patient</th>

      </tr>
      </thead>

      <tbody>

      <% @patients.each_with_index do |patient, index| %>
        <tr>
          <th scope="row"><%= "#{index + 1}" %></th>
          <td><%= patient.name %></td>
          <td><%= patient.age %></td>
          <td><%= patient.email %></td>
          <td>   <%= link_to "Show", doctor_patient_path(doctor_id: current_doctor.id, id: patient.id) %></td>
        </tr>

      <% end %>

      </tbody>

    </table>
  </div>

<% end %>



<br>
