<h1>Patient Details</h1>

<ul>
  <% if !@patient.blank? %>
    <li>Name: <%= @patient.name %></li>
    <br>
    <br>
    <li>Email: <%= @patient.email %></li>
    <br>
    <br/>
    <li>Age: <%= @patient.age %></li>
  <% else %>
    <li>No record</li>
  <% end %>
</ul>

<br/>
<br>
<br>
<%= link_to "Edit Patient", edit_doctor_patient_path(@patient) %>
<br>

<%= link_to "Create Appointment", new_doctor_patient_appointment_path(doctor_id: current_doctor.id, patient_id: @patient.id) %>